<h1>Battle!</h1>
<h2>Enter your names to play</h2>
<form method="POST" action=/names>
  <h3>Player 1: <input type="text" name="player1"></h3>
  <h3>Player 2: <input type="text" name="player2"></h3>
  <input type='submit' value="Submit">
</form>
