<form action="/names" method="POST">
  <label>Player one: </label> <input type="text" name="player_one"><br>
  <label>Player two: </label> <input type="text" name="player_two"><br>
  <input type="submit" value="Enter the Arena">
</form>
