<%= @player_one %> versus <%= @player_two %>

<%= @player_one + " (" + @player_one_hp.to_s + "HP)"%> versus <%= @player_two + " (" + @player_two_hp.to_s + "HP)"%>
<form action="/attack_confirmation" method="post">
  <input type="submit" value="Attack!">
</form>